@model nba_mvc.ViewModels.RefereeEditViewModel

@{
    ViewData["Title"] = "Edit Referee";
}

<h1>Edit Referee</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="RowVersion" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Experience"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Licence"></label>
                <input asp-for="Licence" class="form-control" />
                <span asp-validation-for="Licence" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Current Image:</label><br />
                <img src="@(string.IsNullOrEmpty(Model.CurrentImageUrl) ? "/image/fallback-image.png" : Model.CurrentImageUrl)"
                     alt="Referee Image" width="100" style="border:1px solid #ccc;" />
            </div>

            <div class="form-group">
                <label asp-for="ProfileImage">Change Picture</label>
                <input asp-for="ProfileImage" type="file" class="form-control" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>

            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>

<a asp-action="Index">Back to List</a>
