@model nba_mvc.ViewModels.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}